
<body onload="init();">
    <h5>Welcome to Posture Cam</h5>
    <h6>press "start" to begin</h6>
     <p>
    <button id="button1" onclick="startWebcam();">Start</button>
     <button id="button2" onclick="snapshot(); hideVideo();">Take Snapshot</button>
    <!--     <button onclick="stopWebcam();">Stop WebCam</button>-->
    </p>

    <video width=800 height=600 id="video" autoplay></video>
      <canvas  id="myCanvas" width="800" height="600"></canvas>

  <!-- <div class="output">
    <img id="photo" alt="The screen capture will appear in this box.">
  </div> -->



 <%= simple_form_for @assessment do |f| %>
 <%= f.button "submit", class: "btn btn-primary" %>
 <% end %>
