// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$check-darkblue: #246E89;
$check-teal: #388FA3;
$check-lightteal: #56AFC1;
$check-green: #91D1D3;
$check-lightgreen: #BAE7E0;
$check-white: #EEE6D1;
$check-shadow: #42808d;
