.banner-content h1 {
  color: $check-lightteal;
  font-size: 85px;
  // margin-bottom: 96px;
  text-shadow: 2px 2px 2px $check-shadow;
}

.h3-home {
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 1px white;
  font-weight: lighter;
  font-size: 30px;
  margin-bottom: 45px;
  // margin-top: 70px;
}

#banner {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(image-path("pimg2.jpg"));
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
}

.banner-content {
justify-content: center;
text-align: center;
align-items: center;
// margin-bottom: 40px;
}

// .banner-content p {
//   font-size: 25px;
//   font-weight: lighter;
//   color: rgb(255, 255, 255);
//   opacity: 0.6;
//   margin-bottom: 30px;
// }

.btn {
  width: 100%;
  margin-bottom: 30px;
    color: white;
    background-color: $check-lightteal;
  }

  .btn:hover {
    background-color: $check-teal;
  }

.btn-home {
    // width: 100%;
    // background-color: $check-teal;
    // border-radius: 50px;
    // padding: 10px 15px;
    // text-decoration: none;
    // color: white;

    color: white;
    background-color: $check-teal;
    border: 3px solid $check-teal;
    padding: 15px 56px;
    border-radius: 50px;
    opacity: 1;
  }



.btn-home:hover {
    // background-color: $check-lightteal;
    opacity: 0.7;
    text-decoration: none;
    border: 3px solid white;
    color: white;
  }

.container-intro {
  text-align:center
}

.wrapper-quote {

}

.pbody {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1, .pimg2 {
  position:relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url(image-path("pimg1.jpg"));
  min-height: 400px;
}

.pimg2 {
  background-image: url(image-path("stretches.jpg"));
  min-height: 600px;
  width: 100%;
}



.home-container  {
  padding-right: 45px;
  padding-left:  45px;
  margin-right: auto;
  margin-left:  auto;
}

.home-steps {
  display: grid;
  grid-template-columns: 33.3% 1fr 1fr;
  height: calc(200px);
  padding: 30;
  color: black;
}

.home-steps p {
  color: #30575f;
  margin: 0px;
 font-size: 16px;
}

.call-to-action {
  color: white;
    background-color: $check-lightteal;
    border: 3px solid $check-lightteal;
    padding: 8px 69px;
    border-radius: 50px;
    opacity: 1;

}

.call-to-action:hover {
    background-color: $check-teal;
    text-decoration: none;
    border: 3px solid $check-teal;
    color: white;
}


.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: $light-gray;
  color: black;
}

.section-dark {
  background-color: $check-teal;
  color: white;
}

.section-dark p {
  font-size: 18px;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.step2 p {
    width: 401px;
    margin-bottom: 30px;
}
