h1 {
  color: $check-darkblue;
  font-size: 75px;
}

h2 {
  padding-bottom: 15px;
  margin-bottom: 20px;
}

#banner {
  background-image: url(image-path("checkhome.jpg"));
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
}

.btn {
    width: 100%;
    margin-bottom: 20px;
    color: white;
    background-color: $check-lightteal;
  }

  .btn:hover {
    background-color: $check-teal;
  }
