h1 {
  color: #b0eaff;
  font-size: 75px;
  margin-bottom: 50px;
  text-shadow: 3px 3px 3px grey;
}

.h2-home {
  color: white;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

#banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(image-path("checkhome.jpg"));
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
}

.btn {
    width: 100%;
    margin-bottom: 30px;
    color: white;
    background-color: $check-lightteal;
  }

  .btn:hover {
    background-color: $check-teal;
  }
