.cam-big-contriner h2 {
  text-align: center;
  color:$check-teal;
  text-size: bold;
}

video {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cam-big-contriner h4 {
  text-align: center;
  color:$check-darkblue;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.instructions-container {
  flex: 300px 0 0;
  position: sticky !important;
  margin-right: 50px;
}

.camera-container {
  flex-grow: 1;
}

#button1 {
  width: 100%;
  margin-bottom: 20px;
  color: white;
  background-color: $check-lightteal;
}

#button1:hover {
  background-color: $check-teal;
}

ul {
  list-style-type: none;
  width: 300px;
}

.countdown {
  font-size: 150px;
  font-weight: bold;
  color: #56afc1;
  margin-left: 120px;
}
