h2 {
  text-align: center;
  color:$check-teal;
  text-size: bold;
}

h4 {
  text-align: center;
  color:$check-darkblue;
}

.main-container {
  display: flex;
}

.instructions-container {
  flex: 300px 0 0;
  position: sticky !important;
}

.camera-container {
  flex-grow: 1;
}

#button1 {
  width: 100%;
  margin-bottom: 20px;
  color: white;
  background-color: $check-lightteal;
}

#button1:hover {
  background-color: $check-teal;
}

ul {
  list-style-type: none;
  width: 300px;
}
