
// .result-body{
//   display: flex;
// }

body > div.container > div > div.photo.col-sm-4 > img {
  height: 300px;
}

.suggestion{
  margin-left: 50px;
}

.assessment-submit{
  margin-left: 40%;
  font-size: 20px;
  margin-top: 10%;
}

