.wrapper-main {
  background-color: #4a8e9b;
}
.profile-dashboard {
  display: grid;
  grid-template-rows: repeat(4, 1fr) ;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height:800px;
  width:70%;
  margin:auto;
}

.profile-dashboard h3{
  color: #56AFC1;
}
.profile-dashboard > div{
  border: solid #246E89;
  box-shadow: 2px 1px 1px #888888;
  border-radius: 4%;
  background-color:white;
}
.profile-dashboard > div {
  -webkit-transition: width 2s;
  transition: width 2s;
}

.profile-dashboard > div:hover{
  box-shadow:0 0 10px white;
}

.container-profile {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.profile {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}

.photos {
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
  border: solid;
}
.photos img {
  width:350px;
  height:250px;
  margin-bottom: 10px;
  border-radius: 1%;
  position:relative;
}
.photos img:hover {
  box-shadow:0 0 10px grey;
}

.wrapper-tabs{
  border:5px solid blue;
  margin-bottom: 30px;
  border: solid;
}

.tips{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  height:300px;
}

.tips p{
  font-style: oblique;
  font-size: 35px;
  margin-top: 40px;
}

.notification{
  grid-row: 2 / span 2;
  grid-column: 3/ span 1;
}

.notification img {
  border-radius: 5%;
}

.records{
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  height:300px;
}

.exercises {
  grid-row: 4 / span 1;
  grid-column: 1 / span 3;
  height:300px;
  text-align: center;
  margin:0;
}

.wrapper-middle-banner {
  height: 50%;
  background-color: white;
}

.records-content {
  display:flex;
  justify-content: center;
}
