// .wrapper-main {
//   background-color: #4a8e9b;
// }

.container-profile {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top:20px;
  margin-bottom:50px;
}
.profile-dashboard {
  display: grid;
  grid-template-rows: repeat(3, 300px, 300px, 300px) ;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height:auto;
  width:80%;
  margin:auto;
}

.profile-dashboard h3{
  color: #56AFC1;
  margin-top: 30px;
  margin-bottom: 20px;
}

.profile-dashboard > div{
  // border: solid #246E89;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color:white;
}
.profile-dashboard > div {
  -webkit-transition: width 2s;
  transition:all 0.3s ease;
}

.profile-dashboard > div:hover{
  box-shadow:
          // 1px 1px #4A8E9C,
          // 2px 2px #4A8E9C,
          3px 3px 3px #4A8E9C;
  -webkit-transform: translateX(-3px);
  -webkit-transform: translateY(-3px);
  transform: translateX(-3px);
  transform: translateY(-3px);
}

.profile {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-body{
  margin: 40px 10px 80px 10px;
  // height: 100px;
}

.profile-body img{
  border-radius: 40px;
  margin: 20px auto;
  width:150px;
  height:150px;
}

.notification-body{
  width: 80%;
  margin: -54px auto 30px auto;
  padding-top: 30px;
  border-top: 1px solid #EAEAEA;
}

.notification-body .btn{
  margin-top: 20px;
}

.notification-body label {
  font-weight: normal;
}
.notification-body h4 {
  font-style: oblique;
  font-size: 18px;
}

.notification-body #pb-time-select{
  text-align: center;
}

.photos {
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
  // border: solid;
}

.photos p {
  margin-left: 20px;
}

.photos img {
  width:350px;
  height:250px;
  margin-bottom: 10px;
  border-radius: 1%;
  position:relative;
}
.photos img:hover {
  box-shadow:0 0 10px grey;
}

.photos-img{
  display: flex;
  justify-content: center;
}

.photos-img img{
  margin: 10px 10px 30px 10px;
}

.wrapper-tabs{
  border:5px solid blue;
  margin-bottom: 30px;
  border: solid;
}

.tips{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.tips p{
  font-style: oblique;
  font-size: 25px;
  margin-top: 20px;
  padding:0px 22px;
}

.exercises{
  grid-row: 2 / span 2;
  grid-column: 3/ span 1;
}

.youtube-box{
  margin-top:30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.notification img {
  border-radius: 10px;
}

.records{
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
}

.wrapper-middle-banner {
  height: 50%;
  background-color: white;
}

.records-content {
  display:flex;
  justify-content: center;
  margin: 15px;
}

.records-content .stat{
  padding:0px 22px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 227px;
}

