 <%= javascript_include_tag "notification" %>

<h4>Posture Buddy -- Your personal posture reminder</h4>

<p></p>

<div class="form-group">
  <label for="pb-time">How often do you want to be reminded (in minutes)</label>
  <select class="form-control" id="pb-time-select">
    <option>15</option>
    <option>30</option>
    <option>45</option>
    <option>60</option>
  </select>
  <button onclick="notifyMe()" class="form-control">Start</button>
</div>





<div class="container">
  <div class="col-xs-12 col-sm-2 col-sm-offset-2">
    <%= image_tag "deskposture.png"%>
  </div>
</div>
