 <%= javascript_include_tag "notification" %>

<button onclick="notifyMe()">Notify me!</button>


<div class="container">
  <div class="col-xs-12 col-sm-2 col-sm-offset-2">
    <%= image_tag "deskposture.png"%>
  </div>
</div>
