

  <div id="banner">
    <div class="banner-content">
      <h1>CHECK</h1>
      <h2 class="h2-home">Assess don't guess</h2>
      <%= link_to "Assess", new_assessment_path, class: "btn"  %>
    </div>
  </div>







