<div class="wrapper-banner">
  <div id="banner">
    <div class="banner-content">
      <h1>CHECK</h1>

      <h2 class="h2-home">Balanced Mind, Balanced Body</h2>
      <%= link_to "Start", new_assessment_path, class: "btn-home"  %>
    </div>
  </div>
</div>

<body class="pbody">
  <section class="section section-dark">
    <h2>Why Posture Matters?</h2>
    <p>
      Sitting and standing with proper postural alignment will allow one to work more efficiently with less fatigue and strain on your body's ligaments and muscles.
    </p>

  </section>
  <div class="pimg1">
    <div class="ptext">
      <span class="border">

      </span>
    </div>
  </div>
  <section class="section section-light">
<!--     <h2> How It Works </h2> -->
    <!-- <p>
      Being aware of good posture is the first step to breaking old poor postural habits and reducing stress and strain on your spine. CheckIT is a great feature that will remingd to sit up staright while you work.
    </p> -->
   <div class="home-container">
     <div class="home-steps text-center">
      <div class="step1">
        <%= image_tag "photo-camera.png"%>
        <h3>Assess your posture</h3>
        <p>Quick screen and analysis</p>
      </div>
      <div class="step2">
        <%= image_tag "analysis.png"%>
        <h3>Monitor progress</h3>
        <p>Body composition analysis along with measurment details</p>
      </div>
      <div class="step3">
        <%= image_tag "chatting.png"%>
        <h3>Get notifications</h3>
        <p>Daily reminders of posture awareness
      </div>

     </div>
   </div>

  </section>

<section>
    <div class="pimg2">
     <div class="ptext">
       <span class="border">
       </span>
     </div>
   </div>
</section>

</body>





