  <html>
  <head>
    <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href='style.css' rel='stylesheet'>
</head>
<body>
<div class="banner">
  <div class="banner-content"</div>
    <h1>Balanced Mind, Balanced Body</h1>
    <p>Healthy living for employees through better posture in the workplace</p>
  <%= link_to "Assessment", new_assessment_path, class: "btn-medium" %>
  </div>
</body>
</body>
<!-- </!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

</body> -->
</html>
